<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DiseaseMapper">

<!--    查询规则-->
    <resultMap id="DiseaseEntityMap" type="com.example.demo.bean.Disease">
        <result property="did" column="did"></result>
        <result property="disease" column="disease"></result>
    </resultMap>

    <select id="selectall" resultMap="DiseaseEntityMap">
        SELECT * FROM disease
    </select>
</mapper>
