<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GczswdchapterMapper">
    <resultMap id="GczswdchapterUntils" type="com.example.demo.bean.Gczswdchapter">
        <result property="cid" column="cid"></result>
        <result property="chapter" column="chapter"></result>
    </resultMap>

    <select id="selectall" resultMap="GczswdchapterUntils">
        select  * from gczswdchapter
    </select>
</mapper>
